<div class="overflow-hidden">
  <img
    *ngIf="isDarkMode"
    src="assets/blob/light_mode/header_blob.svg"
    class="absolute right-0 pointer-events-none -z-10"
  />
  <img
    *ngIf="!isDarkMode"
    src="assets/blob/light_mode/header_blob.svg"
    class="absolute right-0 pointer-events-none -z-10"
  />

  <section class="top-0 z-50 fixed w-screen">
    <div
      class="dark:text-white p-5 font-semibold text-lg bg-blue-900 shadow dark:bg-black"
    >
      <div class="flex justify-between items-center">
        <img
          src="assets/LOGO_FEDI_HAMDI.svg"
          class="w-28 pl-5"
          alt="LOGO_FEDI_HAMDI"
        />
        <div class="basis-[500px] flex justify-around max-md:basis-0">
          <div
            class="flex justify-around w-full max-md:hidden tracking-[.25em]"
          >
            <a (click)="scrollToExperience()" class="cursor-pointer">
              EXPERIENCE
            </a>
            <a (click)="scrollToProjects()" class="cursor-pointer">
              PROJECTS
            </a>
            <a (click)="scrollToContact()" class="cursor-pointer"> CONTACT </a>
          </div>
          <button
            class="flex transition-transform hover:scale-125 align-middle"
            (click)="toggleDarkMode()"
          >
            <span *ngIf="!isDarkMode" class="material-symbols-rounded"
              >dark_mode</span
            >
            <span *ngIf="isDarkMode" class="material-symbols-rounded"
              >light_mode</span
            >
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="pl-48 pt-36 container max-md:pt-10 max-[430px]:pl-4">
    <div class="flex max-md:flex-col-reverse">
      <div class="basis-3/5">
        <div
          class="text-[67px] max-md:text-[45px] font-bold text-black dark:text-white"
        >
          Hi, <br />
          My name is
          <span class="uppercase dark:text-custom-blue text-blue-900">
            fedi hamdi
          </span>
        </div>
        <p class="dark:text-custom-grey text-gray-800">
          I'm a passionate full-stack developer from Tunisia with a focus on
          creating user-friendly applications.
        </p>

        <div
          class="mt-20 max-md:mt-10 max-md:flex max-md:items-center max-md:gap-7"
        >
          <div class="flex">
            <a
              class="hover:scale-110 transition-all"
              href="https://www.linkedin.com/in/fedi-hamdi-505706212/"
              target="_blank"
            >
              <img
                *ngIf="isDarkMode"
                src="assets/icons/dark mode icons/LinkedIn.svg"
                alt=""
              />
              <img
                *ngIf="!isDarkMode"
                src="assets/icons/light mode icons/LinkedIn.svg"
                alt=""
              />
            </a>
            <a
              class="hover:scale-110 transition-all"
              href="https://github.com/fedihamdi7"
              target="_blank"
            >
              <img
                *ngIf="isDarkMode"
                src="assets/icons/dark mode icons/GitHub.svg"
                alt=""
              />
              <img
                *ngIf="!isDarkMode"
                src="assets/icons/light mode icons/GitHub.svg"
                alt=""
              />
            </a>
          </div>
          <div class="mt-10 max-md:mt-0">
            <button
              (click)="DownloadResume()"
              class="bg-transparent dark:text-white text-black rounded-full border-[3px] dark:border-white border-black px-5 py-3 font-semibold flex gap-2 hover:scale-105 transition-transform duration-300 ease-in-out"
            >
              Download Resume
              <span class="material-symbols-rounded">download</span>
            </button>
          </div>
        </div>
      </div>
      <div class="ml-24 max-md:m-[90px] max-md:mb-0 relative ">
        <img
          src="assets/Avatar_Fedi.png"
          class="rounded-[20px] shadow-2xl shadow-black"
        />
        <!-- <img
          *ngIf="!isDarkMode"
          src="assets/Avatar_Fedi_Light.png"
        /> -->
      </div>
    </div>
  </section>
  <div class="flex justify-center mt-20 bounce">
    <span
      class="material-symbols-rounded text-[50px] dark:text-white text-black"
      >keyboard_double_arrow_down</span
    >
  </div>

  <img
    *ngIf="isDarkMode"
    src="assets/blob/experience_blob.svg"
    alt="mid_blob"
    class="absolute pointer-events-none"
  />
  <img
    *ngIf="!isDarkMode"
    src="assets/blob/light_mode/experience_blob.svg"
    alt="mid_blob"
    class="absolute pointer-events-none -z-10"
  />

  <section #experience class="overflow-y-scroll pt-2">
    <header class="flex flex-col items-center mt-20">
      <div class="font-bold text-[46px] uppercase text-black dark:text-white">
        MY EXPERIENCE
      </div>
      <div
        class="text-center w-[50vw] dark:text-custom-grey text-gray-900 max-md:w-[80vw]"
      >
        A snapshot of my professional journey. Dive into impactful internships
        and work experiences that shape my expertise. Each role contributes to a
        dynamic skill set, reflecting my commitment to growth and hands-on
        learning. Explore the highlights of my career path in this section.
      </div>
    </header>

    <p-timeline
      [value]="events"
      [align]="align"
      styleClass="mt-20 max-md:ml-[-92vw] "
    >
      <ng-template pTemplate="marker" let-event>
        <span>
          <span [ngClass]="'material-symbols-rounded max-md:mt-10'">
            radio_button_unchecked
          </span>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <app-card [event]="event"></app-card>
      </ng-template>
    </p-timeline>
  </section>

  <section #projects_section class="overflow-y-scroll pt-2">
    <header class="flex flex-col items-center mt-20">
      <div class="font-bold text-[46px] uppercase text-black dark:text-white">
        My Projects
      </div>
      <div
        class="text-center w-[50vw] dark:text-custom-grey text-gray-800 max-[430px]:w-[88vw]"
      >
        A blend of my academic and personal projects, showcasing a passion for
        problem-solving and creativity. <br />
        "It ain't much, but it's honest work"
      </div>
    </header>

    <!-- Projects cards -->
    <div
      class="flex place-content-center mt-10"
      *ngFor="let project of projects"
    >
      <div
        class="flex w-[95vw] p-5 rounded-[21px] dark:bg-slate-900 bg-blue-900 border border-white max-md:flex-col-reverse max-md:w-[90vw] max-md:mx-auto max-md:mt-10 max-[430px]:overflow-hidden"
      >
        <div class="basis-[45%] custom-gallery pt-12">
          <p-galleria
            [value]="project.images"
            [containerStyle]="{ 'max-width': '100%' }"
            [numVisible]="5"
            [circular]="true"
            [showItemNavigators]="true"
            [showThumbnails]="false"
            [showIndicators]="true"
          >
            <ng-template pTemplate="item" let-img>
              <img
                (click)="showDialog(img, project.title)"
                [src]="
                  'assets/projects_images/' +
                  project.title +
                  '/' +
                  img +
                  '.JPG'
                "
                style="display: block"
                class="h-[400px] cursor-pointer max-[430px]:h-[250px]"
                pTooltip="Click to enlarge"
                tooltipPosition="top"
              />
            </ng-template>
          </p-galleria>
        </div>
        <div class="basis-[55%]">
          <a
            href="{{ project.link }}"
            target="_blank"
            *ngIf="project.link"
            class="uppercase font-bold text-[30px] flex ml-[50%] max-md:ml-[41%] max-[430px]:ml-[34%]"
          >
            {{ project.title }}
            <img
              src="assets/icons/dark mode icons/External Link.svg"
              alt=""
            />
          </a>

          <div
            *ngIf="!project.link"
            class="uppercase font-bold text-[30px] flex ml-[50%] -translate-x-[20px] max-md:ml-[41%] max-[430px]:ml-[34%]"
          >
            {{ project.title }}
          </div>
          <div
            class="text-[20px] text-white p-7 max-[430px]:text-[16px] max-[430px]:px-0"
            [innerHTML]="project.description"
          ></div>

          <div class="flex pl-7 gap-3 flex-wrap">
            <app-project-tools
              *ngFor="let tool of project.tools"
              [tool]="tool"
            ></app-project-tools>
          </div>
        </div>
      </div>
    </div>
    <p-dialog
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: '95vw', height: '95vh' }"
      [draggable]="false"
      [maximizable]="false"
    >
      <div class="flex flex-col items-center">
        <img
          [src]="
            'assets/projects_images/' +
            selectedTitle +
            '/' +
            selectedImage +
            '.JPG'
          "
        />
      </div>
    </p-dialog>
  </section>

  <hr
    class="my-20 w-[50vw] mx-auto border border-black dark:border-white"
    #contact
  />

  <section class="relative text-custom-grey">
    <img
      *ngIf="isDarkMode"
      src="assets/blob/footer_blob.svg"
      alt="footer_blob"
      class="absolute pointer-events-none bottom-[-14%] -z-10"
    />
    <img
      *ngIf="!isDarkMode"
      src="assets/blob/light_mode/footer_blob.svg"
      alt="footer_blob"
      class="absolute pointer-events-none bottom-[-14%] -z-10"
    />
    <header class="flex flex-col items-center mt-20">
      <div class="font-bold text-[46px] uppercase text-black dark:text-white">
        contact me
      </div>
      <div class="text-center w-[50vw] dark:text-custom-grey text-gray-800">
        Reach out and let's work together.
      </div>
    </header>

    <div class="flex max-md:flex-col-reverse">
      <div class="basis-[50vw] p-20 pl-72 max-[430px]:pl-[20%]">
        <div class="flex flex-col gap-3 mt-14 dark:text-custom-grey text-black">
          <div class="flex items-center gap-3">
            <img
              *ngIf="isDarkMode"
              src="assets/icons/dark mode icons/Envelope.svg"
              width="38"
              height="38"
              alt=""
            />
            <img
              *ngIf="!isDarkMode"
              src="assets/icons/light mode icons/Envelope.svg"
              width="38"
              height="38"
              alt=""
            />
            <p>fedihamdi97@gmail.com</p>
          </div>
          <div class="flex items-center gap-3">
            <img
              *ngIf="isDarkMode"
              src="assets/icons/dark mode icons/Ringer Volume.svg"
              width="38"
              height="38"
              alt=""
            />
            <img
              *ngIf="!isDarkMode"
              src="assets/icons/light mode icons/Phone.svg"
              width="38"
              height="38"
              alt=""
            />
            <p>+216 22 247 152</p>
          </div>
          <a
            href="https://www.linkedin.com/in/fedi-hamdi-505706212/"
            target="_blank"
            class="flex items-center gap-3 hover:scale-x-95 transition-transform w-fit"
          >
            <img
              *ngIf="isDarkMode"
              src="assets/icons/dark mode icons/LinkedIn.svg"
              width="38"
              height="38"
              alt=""
            />
            <img
              *ngIf="!isDarkMode"
              src="assets/icons/light mode icons/LinkedIn.svg"
              width="38"
              height="38"
              alt=""
            />
            <p>Fedi Hamdi</p>
          </a>

          <a
            href="https://github.com/fedihamdi7"
            target="_blank"
            class="flex items-center gap-3 hover:scale-x-95 transition-transform w-fit"
          >
            <img
              *ngIf="isDarkMode"
              src="assets/icons/dark mode icons/GitHub.svg"
              width="38"
              height="38"
              alt=""
            />
            <img
              *ngIf="!isDarkMode"
              src="assets/icons/light mode icons/GitHub.svg"
              width="38"
              height="38"
              alt=""
            />
            <p>Fedi Hamdi</p>
          </a>

          <div class="flex items-center gap-3">
            <img
              *ngIf="isDarkMode"
              src="assets/icons/dark mode icons/Location.svg"
              width="38"
              height="38"
              alt=""
            />
            <img
              *ngIf="!isDarkMode"
              src="assets/icons/light mode icons/Location.svg"
              width="38"
              height="38"
              alt=""
            />
            <p>Tunis, Tunisia</p>
          </div>
        </div>
      </div>
      <div class="p-24 max-[430px]:p-9">
        <p class="text-gray-800 dark:text-custom-grey">
          You can reach me via email or through this form
        </p>

        <form
          [formGroup]="form"
          class="mt-8 dark:placeholder-gray-500 dark:text-white text-gray-800"
          (submit)="onSubmit()"
        >
          <div>
            <label for=""> Email </label>
            <input
              class="w-full px-3 py-2 rounded-md focus:outline-none focus:shadow-outline bg-white dark:bg-gray-800 border border-black dark:border-white"
              type="text"
              placeholder="Email@email.com"
              formControlName="email"
            />
          </div>
          <div class="mt-6">
            <label for=""> Subject </label>
            <input
              class="w-full px-3 py-2 rounded-md focus:outline-none focus:shadow-outline bg-white dark:bg-gray-800 border border-black dark:border-white"
              type="text"
              placeholder="Subject"
              formControlName="subject"
            />
          </div>
          <div class="mt-6">
            <label for=""> Message </label>
            <textarea
              class="resize-none h-48 w-full px-3 py-2 rounded-md focus:outline-none focus:shadow-outline bg-white dark:bg-gray-800 border border-black dark:border-white"
              type="text"
              placeholder="Message"
              formControlName="message"
            >
            </textarea>
          </div>

          <button
            type="submit"
            class="flex mt-6 bg-transparent border hover:bg-custom-grey dark:hover:text-black border-black dark:border-white dark:text-white font-bold py-2 px-4 rounded transition-colors duration-200"
          >
          Send Message
          <svg *ngIf="emailLoading" class="animate-spin h-5 w-5 ml-3" viewBox="0 0 24 24">
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"
            ></path>
          </svg>
          </button>
        </form>
      </div>
    </div>
  </section>

  <footer class="flex justify-around items-center max-md:flex-col max-md:gap-7 mb-[2%]">
    <img
      src="assets/LOGO_FEDI_HAMDI.svg"
      class="w-28 pl-5"
      alt="LOGO_FEDI_HAMDI"
    />

    <p
      class="text-black dark:text-custom-grey max-md:text-[.75em] max-md:text-center"
    >
      Copyright © 2023 - Designed By Figma and Built with Angular, NodeJs,
      TailwindCSS and PrimeNG.
    </p>
  </footer>
  <p-scrollTop></p-scrollTop>
  <p-toast></p-toast>

</div>
