<img
  src="../assets/blob/header_blob.svg"
  alt="header_blob"
  class="absolute right-0 pointer-events-none"
/>

<section class="">
  <div
    class="bg-teal-600 text-white p-5 font-semibold text-lg shadow-lg dark:bg-black"
  >
    <div class="flex justify-between items-center">
      <img
        src="../assets/LOGO_FEDI_HAMDI.svg"
        class="w-28 pl-5"
        alt="LOGO_FEDI_HAMDI"
      />
      <div class="basis-[500px] flex justify-around max-md:basis-0">
        <div class="flex justify-around w-full max-md:hidden tracking-[.25em]">
          <a href="#"> EXPERIENCE </a>
          <a href="#"> PROJECTS </a>
          <a href="#"> CONTACT </a>
        </div>
        <button
          class="flex transition-transform hover:scale-125 align-middle"
          (click)="toggleDarkMode()"
        >
          <span *ngIf="!isDarkMode" class="material-symbols-rounded"
            >dark_mode</span
          >
          <span *ngIf="isDarkMode" class="material-symbols-rounded"
            >light_mode</span
          >
        </button>
      </div>
    </div>
  </div>
</section>

<section class="pl-48 pt-36 container">
  <div class="flex">
    <div class="basis-3/5">
      <div class="text-[67px] font-bold">
        Hi, <br />
        My name is <span class="uppercase text-custom-blue"> fedi hamdi </span>
      </div>
      <p class="text-custom-grey">
        I'm a passionate full-stack developer from Tunisia with a focus on
        creating user-friendly applications.
      </p>

      <div class="mt-20">
        <div class="flex">
          <!--  TODO  : add links  -->
          <img src="../assets/icons/dark mode icons/LinkedIn.svg" alt="" />
          <img src="../assets/icons/dark mode icons/GitHub.svg" alt="" />
        </div>
        <div class="mt-10">
          <button
            class="bg-transparent text-white rounded-full border-[3px] border-white px-5 py-3 font-semibold flex gap-2 hover:scale-105 transition-transform duration-300 ease-in-out"
          >
            Download Resume
            <span class="material-symbols-rounded">download</span>
          </button>
        </div>
      </div>
    </div>
    <div class="ml-24">
      <img src="../assets/Avatar_Fedi.svg" alt="Avatar_Fedi" />
    </div>
  </div>
</section>
<!-- TODO : make this bounce animation -->
<div class="flex justify-center mt-20">
  <span class="material-symbols-rounded text-[50px]"
    >keyboard_double_arrow_down</span
  >
</div>

<!-- middle blob -->
<!-- <img
  src="../assets/blob/mid_blob.svg"
  alt="mid_blob"
  class="absolute pointer-events-none -bottom-40"
/> -->

<!-- MY EXPERIENCE -->

<img
  src="../assets/blob/experience_blob.svg"
  alt="mid_blob"
  class="absolute pointer-events-none"
/>

<section>
  <header class="flex flex-col items-center mt-20">
    <div class="font-bold text-[46px] uppercase">MY EXPERIENCE</div>
    <div class="text-center w-[50vw] text-custom-grey">
      A snapshot of my professional journey. Dive into impactful internships and
      work experiences that shape my expertise. Each role contributes to a
      dynamic skill set, reflecting my commitment to growth and hands-on
      learning. Explore the highlights of my career path in this section.
    </div>
  </header>

  <p-timeline [value]="events" align="alternate" styleClass="mt-20">
    <ng-template pTemplate="marker" let-event>
      <span>
        <span [ngClass]="'material-symbols-rounded'">
          radio_button_unchecked
        </span>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <app-card [event]="event"></app-card>
    </ng-template>
  </p-timeline>
</section>

<section>
  <header class="flex flex-col items-center mt-20">
    <div class="font-bold text-[46px] uppercase">My Projects</div>
    <div class="text-center w-[50vw] text-custom-grey">
      A blend of my academic and personal projects, showcasing a passion for
      problem-solving and creativity.
    </div>
  </header>

  <!-- Projects cards -->
  <div class="flex place-content-center mt-10" *ngIf="images">
    <div
      class="flex w-[95vw] p-5 rounded-[21px]"
      style="background-color: #212121"
    >
      <div class="basis-[45%] custom-gallery">
        <p-galleria
          [value]="images"
          [containerStyle]="{ 'max-width': '100%' }"
          [numVisible]="4"
          [circular]="true"
          [showItemNavigators]="true"
          [showThumbnails]="true"
        >
          <ng-template pTemplate="item" let-item>
            <img
              [src]="'/assets/projects_images/JOBS/' + item.itemImageSrc"
              style=" display: block"
            />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div>
              <img
                [src]="'/assets/projects_images/JOBS/' + item.itemImageSrc"
                style="display: block"
              />
            </div>
          </ng-template>
        </p-galleria>
      </div>
      <div class="basis-[55%]">
        <div class="uppercase font-bold text-[30px] flex ml-[50%]">
          jobs
          <img src="../assets/icons/dark mode icons/External Link.svg" alt="" />
        </div>
        <div
          class="text-[20px] text-custom-grey p-7"
          [innerHTML]="projects[0].description"
        ></div>

        <div class="flex pl-7 gap-3">
          <div
            class="bg-tool-bg border-tool-border border rounded-[5px] flex p-2 items-center gap-2"
          >
            <img
              src="../assets/icons/tools/Angular.svg"
              height="30"
              width="30"
              alt=""
            />
            <div class="uppercase">angular</div>
          </div>
          <div
            class="bg-tool-bg border-tool-border border rounded-[5px] flex p-2 items-center gap-2"
          >
            <img
              src="../assets/icons/tools/Angular.svg"
              height="30"
              width="30"
              alt=""
            />
            <div class="uppercase">angular</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="my-20 w-[50vw] mx-auto" />

<section class="relative text-custom-grey">
  <img
    src="../assets/blob/footer_blob.svg"
    alt="footer_blob"
    class="absolute pointer-events-none bottom-[-14%] -z-10"
  />
  <header class="flex flex-col items-center mt-20">
    <div class="font-bold text-[46px] uppercase text-white">contact me</div>
    <div class="text-center w-[50vw]">Reach out and let's work together.</div>
  </header>

  <div class="flex">
    <div class="basis-[50vw] p-20 pl-72">
      <div class="flex flex-col gap-3 mt-14">
        <div class="flex items-center gap-3">
          <img
            src="../assets/icons/dark mode icons/Envelope.svg"
            width="38"
            height="38"
            alt=""
          />
          <p>fedihamdi97@gmail.com</p>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="../assets/icons/dark mode icons/Ringer Volume.svg"
            width="38"
            height="38"
            alt=""
          />
          <p>+216 22 247 152</p>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="../assets/icons/dark mode icons/LinkedIn.svg"
            width="38"
            height="38"
            alt=""
          />
          <p>Fedi Hamdi</p>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="../assets/icons/dark mode icons/GitHub.svg"
            width="38"
            height="38"
            alt=""
          />
          <p>Fedi Hamdi</p>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="../assets/icons/dark mode icons/Location.svg"
            width="38"
            height="38"
            alt=""
          />
          <p>Fedi Hamdi</p>
        </div>
      </div>
    </div>
    <div class="p-24">
      <p>You can reach me via email or through this form</p>

      <form [formGroup]="form" class="mt-8">
        <div>
          <label for=""> Email </label>
          <input
            class="w-full px-3 py-2 placeholder-gray-500 text-white rounded-md focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Email@email.com"
            formControlName="email"
          />
        </div>
        <div class="mt-6">
          <label for=""> Subject </label>
          <input
            class="w-full px-3 py-2 placeholder-gray-500 text-white rounded-md focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Subject"
            formControlName="subject"
          />
        </div>
        <div class="mt-6">
          <label for=""> Message </label>
          <textarea
            class="text-white resize-none h-48 w-full px-3 py-2 placeholder-gray-500 rounded-md focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Message"
            formControlName="message"
          >
          </textarea>
        </div>

        <button
          type="submit"
          class="mt-6 bg-transparent border hover:bg-custom-grey hover:text-black text-white font-bold py-2 px-4 rounded"
        >
          Send Message
        </button>
      </form>
    </div>
  </div>
</section>

<footer class="flex justify-around items-center">
  <img
    src="../assets/LOGO_FEDI_HAMDI.svg"
    class="w-28 pl-5"
    alt="LOGO_FEDI_HAMDI"
  />

  <p class="text-custom-grey">
    Copyright © 2023 - Designed By Figma and Built with Angular, Angular
    Material, NodeJs.
  </p>
</footer>
