<img
  src="../assets/blob/header_blob.svg"
  alt="header_blob"
  class="absolute right-0 pointer-events-none"
/>

<section class="">
  <div
    class="bg-teal-600 text-white p-5 font-semibold text-lg shadow-lg dark:bg-black"
  >
    <div class="flex justify-between items-center">
      <img
        src="../assets/LOGO_FEDI_HAMDI.svg"
        class="w-28 pl-5"
        alt="LOGO_FEDI_HAMDI"
      />
      <div class="basis-[500px] flex justify-around max-md:basis-0">
        <div class="flex justify-around w-full max-md:hidden tracking-[.25em]">
          <a href="#"> EXPERIENCE </a>
          <a href="#"> PROJECTS </a>
          <a href="#"> CONTACT </a>
        </div>
        <button
          class="flex transition-transform hover:scale-125 align-middle"
          (click)="toggleDarkMode()"
        >
          <span *ngIf="!isDarkMode" class="material-symbols-rounded"
            >dark_mode</span
          >
          <span *ngIf="isDarkMode" class="material-symbols-rounded"
            >light_mode</span
          >
        </button>
      </div>
    </div>
  </div>
</section>

<section class="pl-48 pt-36 container">
  <div class="flex">
    <div class="basis-3/5">
      <div class="text-[67px] font-bold">
        Hi, <br />
        My name is <span class="uppercase text-custom-blue"> fedi hamdi </span>
      </div>
      <p class="text-custom-grey">
        I'm a passionate full-stack developer from Tunisia with a focus on
        creating user-friendly applications.
      </p>

      <div class="mt-20">
        <div class="flex">
          <!--  TODO  : add links  -->
          <img src="../assets/icons/dark mode icons/LinkedIn.svg" alt="" />
          <img src="../assets/icons/dark mode icons/GitHub.svg" alt="" />
        </div>
        <div class="mt-10">
          <button
            class="bg-transparent text-white rounded-full border-[3px] border-white px-5 py-3 font-semibold flex gap-2 hover:scale-105 transition-transform duration-300 ease-in-out"
          >
            Download Resume
            <span class="material-symbols-rounded">download</span>
          </button>
        </div>
      </div>
    </div>
    <div class="ml-24">
      <img src="../assets/Avatar_Fedi.svg" alt="Avatar_Fedi" />
    </div>
  </div>
</section>
<!-- TODO : make this bounce animation -->
<div class="flex justify-center mt-20">
  <span class="material-symbols-rounded text-[50px]"
    >keyboard_double_arrow_down</span
  >
</div>

<!-- middle blob -->
<!-- <img
  src="../assets/blob/mid_blob.svg"
  alt="mid_blob"
  class="absolute pointer-events-none -bottom-40"
/> -->

<!-- MY EXPERIENCE -->

<img
  src="../assets/blob/experience_blob.svg"
  alt="mid_blob"
  class="absolute pointer-events-none"
/>

<section>
  <header class="flex flex-col items-center mt-20">
    <div class="font-bold text-[46px]">MY EXPERIENCE</div>
    <div class="text-center w-[50vw] text-custom-grey">
      A snapshot of my professional journey. Dive into impactful internships and
      work experiences that shape my expertise. Each role contributes to a
      dynamic skill set, reflecting my commitment to growth and hands-on
      learning. Explore the highlights of my career path in this section.
    </div>
  </header>

  <p-timeline [value]="events" align="alternate" styleClass="mt-20">
    <ng-template pTemplate="marker" let-event>
      <span>
        <span [ngClass]="'material-symbols-rounded'">
          radio_button_unchecked
        </span>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <app-card [event]="event"></app-card>
    </ng-template>
  </p-timeline>
</section>

<section>
  <header class="flex flex-col items-center mt-20">
    <div class="font-bold text-[46px]">My Projects</div>
    <div class="text-center w-[50vw] text-custom-grey">
      A blend of my academic and personal projects, showcasing a passion for
      problem-solving and creativity.
    </div>
  </header>

  <!-- Projects cards -->
  <div class="flex place-content-center">
    <div class="flex w-[95vw]">
      <div class="basis-[45%]">
      hhh
      </div>
      <div class="basis-[55%] bg-green-500">aefaef</div>
    </div>
  </div>
</section>
