/* You can add global styles to this file, and also import other style files */
@tailwind base;
@import "primeng/resources/themes/viva-dark/theme.css";
@import "primeng/resources/primeng.css";
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  @apply bg-slate-300;
}

body.dark {
  @apply bg-black;
  @apply text-white;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #5a5a5ad0;
}

::-webkit-scrollbar-thumb {
  background: rgba(24, 0, 0, 0.842);
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

body {
  font-family: "Poppins", sans-serif;
}
